* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}
body, html, #root {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 50px 0 0 0;
  padding: 0;
  background-color: #eaf5fc;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

